PM_AGENT_DB_HOST=10.144.48.123
PM_AGENT_DB_PORT=3306
PM_AGENT_DB_NAME=pm_agent
PM_AGENT_DB_USERNAME=pm_agent
PM_AGENT_DB_PASSWORD=pm_agent_dev

PM_AGENT_REDIS_HOST=10.144.48.123
PM_AGENT_REDIS_PORT=6379
PM_AGENT_REDIS_PASSWORD=pm-agent-dev

PM_AGENT_RABBITMQ_HOST=10.144.48.123
PM_AGENT_RABBITMQ_PORT=5672
PM_AGENT_RABBITMQ_USERNAME=pm-agent
PM_AGENT_RABBITMQ_PASSWORD=pm-agent-dev
PM_AGENT_RABBITMQ_VHOST=pm-agent

MINIO_ENDPOINT=http://10.144.48.123:9000
MINIO_ROOT_USER=pm-agent
MINIO_ROOT_PASSWORD=123456-pm-agent
