MYSQL_ROOT_PASSWORD=pm_agent_root
MYSQL_DATABASE=pm_agent
MYSQL_USER=pm_agent
MYSQL_PASSWORD=pm_agent_dev
MYSQL_PORT=3306

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=pm-agent
MINIO_ROOT_PASSWORD=123456-pm-agent

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=pm-agent
RABBITMQ_DEFAULT_PASS=pm-agent-dev
